BasedOnStyle: Microsoft
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
IndentCaseLabels: true
NamespaceIndentation: All
FixNamespaceComments: false
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
