* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md text eol=lf
*.mmd text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.svg text eol=lf

*.pdf binary
*.png binary
